html, body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background: transparent, black;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
div {
  margin: 0;
  padding: 0;
}
::-webkit-scrollbar {
  display: none;
}
.banner-container {
  background: transparent;
  text-align: center;
  color: #000;
  max-width: fit-content;
  height: auto;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.banner-image {
  max-width: 100%;
  height: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  pointer-events: none;
  border-radius: 2vw;
  object-fit: contain;
  position: relative;
  border: 3px solid #0f0f0f;
}
.watermark {
  top: 0;
  left: 0;
  font-size: 0.85em;
  position: absolute;
  background-color: #0f0f0f;
  margin: -10px 8px 0 -10px;
  padding: 5px;
  cursor: pointer;
  border-radius: 1.5vw;
  z-index: 1000;
}
a {
  text-decoration: none;
  color: #ddd;
}