html, body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background: transparent;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

div {
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  display: none;
}

.banner-container {
  background: transparent;
  text-align: center;
  color: white;
  max-width: fit-content;
  height: auto;
  border-radius: 10px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.banner-image {
  max-width: 100%;
  height: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  pointer-events: none;
  border-radius: 12px;
  object-fit: contain;
  position: relative;
  border: 3px solid #888;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
}

.watermark {
  top: 0;
  left: 0;
  font-size: 1em;
  position: absolute;
  background-color: #220;
  margin: -10px 8px 0 -10px;
  padding: 5px;
  cursor: pointer;
  border-radius: 9px;
  /*box-shadow: 0 2px 8px rgba(0, 0, 0, 0.8);*/
  z-index: 1000;
  a {
    text-decoration: none;
    color: #fff;
  }
}